@import '../../utils/variaveis.scss';
@import './header';
@import './panel';
@import './cardPanel';
@import './footer';
@import './atalhos';
@import './rewards';
@import './nuconta';
@import './nucredito';
@import './compra';

main.mobile {
    background: $mainColor;
    max-width: 480px;
    width: 100%;
    height: 100vh;
    max-height: 640px;
    overflow-x: hidden;
    color: $white;
    z-index: 2;
    position: relative;

    &::-webkit-scrollbar {
        display: none;
    }

    div.content {
        transition: all 0.5s;
        transform: translateX(500px);

        &--active {
            transform: translateX(0) !important;
        }

        &--hidden {
            display: none;
        }
    }

    .splashLogo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        img {
            max-width: 100px;
        }
        &--hidden {
            display: none;
        }
    }
}